
/*** General HTML definitions ***/

/*** idegaWeb WebFace CSS classes ***/


.article_item {
	margin: 15px;
}

.article_author {
	font-size: 10px;
	display: inline;
	padding-right: 4px;
	
}

.article_creation_date {
	font-size: 10px;
	display: inline;
	padding-left: 4px;
	padding-right: 4px;
	border-left: 1px solid #000000;
}

.article_headline {
	width: auto;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 5px;
	margin-top: 3px;
}

.article_teaser {
	width: auto;
	display: none;
}

.article_body {
	width: auto;
}

.comment_fieldset {
	border-style:solid;
	border-width:1px;
	margin:20px 0pt 10px;
	padding:10px 15px;
	border-color:#ABABAB;
}

.comment_legend {
	font-weight:bold;
	margin:0pt 5px;
	border-color:#ABABAB;
	color:#444444;
}

.comment_input_style {
	border-style:solid;
	border-width:1px;
	width:100%;
	border-color:#ABABAB;
}

.comment_comment_style {
	border-style:solid;
	border-width:1px;
	width:100%;
	border-color:#ABABAB;
}

.add_comment_table {
	width:100%;
}

.add_comment_table td {
	width:auto;
}

.add_comment_table td[colspan="2"] {
	text-align:right;
}

.send_comment_button {
	border:1px solid #ABABAB;
	color:#444444;
	font-family:inherit;
	font-size:1.1em;
	text-align:justify;
	font-weight:bold;
}

.comments_table_cell {
	color:#444444;
	text-align:left;
	font-weight:bold;
}

.comment_author_text {
	font-weight:bold;
	color:#222222;
}

.comment_list_item {
	margin-top:5px;
	border-style:solid;
	border-width:1px;
	border-color:#ABABAB;
	list-style-position:inside;
}

.commens_list_all_items {
	border-style:solid;
	border-width:1px;
	margin-left:0pt;
	padding:10px;
	border-color:#ABABAB;
}

.secretCommentsInputStyle {
	visibility: hidden;
}

.deleteCommentsImage {
}

.deleteCommentsImage:hover {
	cursor: pointer;
}

/* Workspace override */
.article .articleHeadings {
	line-height: 25px;
	font-size: 13px;
	font-weight: bold;	
	color: #1f1f1f;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	position: relative;
}

.article .articleHeadings .articleDate {
	position: absolute;
	left: 18px;
	top: 0;
	width: 82px;	
}

.article .articleHeadings .articleTitle {
	margin-left: 112px;
	margin-right: 270px;
}

.article .articleHeadings .articleAuthor {
	position: absolute;
	right: 0;
	width: 265px;
	top: 0;	
}

.article .wf_blockmainarea .content_list {
	/*height: 550px;*/
	/*overflow:auto;*/
	/*border: 1px solid #D3D3D3;*/
	margin: 0 !important;
	padding: 0 !important;
}

.article .content_list .commentsController {
	display: none;	
}

.article .content_list .content_item_comments_style {
	display: none;	
}

.article .content_list .article_item {
	padding: 0;
	margin: 0;
	border-bottom: 1px #c6c8c8 solid;
	overflow: hidden;
	position: relative;
	font-size: 13px;
	color: #1f1f1f;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

.article .content_list .article_item_first {
	border-top: 1px #c6c8c8 solid;	
}

.article .content_list .article_item_odd {
	background-color: #f1f1f1;	
}

.article .content_list .article_item_even {
	background-color: #fff;	
}

.article .content_list .blog-entry-date {
	position: absolute;
	left: 18px;
	top: 0;
	line-height: 25px;
}

.article .content_list .article_author {
	position: absolute;
	right: 60px;
	width: 200px;
	top: 0;
	line-height: 25px;
	font-size: 13px;
}

.article .content_list .teaserExpander {
	position: absolute;
	left: 98px;
	top: 8px;
	width: 9px;
	height: 9px;
	padding-left: 12px;
	background: url(images/article-arrow.gif) top left no-repeat;	
}

.article .content_list .teaserExpander.expanded {
	background-image: url(images/article-arrow-expanded.gif);
}

.article .content_list .blog-entry-title {
	margin-left: 112px;
	margin-right: 280px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.article .content_list .blog-entry-title a {
	color: #1f1f1f;	
}

.article .content_list .blog-entry-body {
	display: none;
}

.article .content_list .article_teaser {
	display: block;
	margin: 2px 24px 6px 112px;
	padding: 0;
	font-size: 11px;
	border: 0;
}

.article .content_list .item_details_command {
	display: none;	
}

.article .content_list .article_item .content_item_toolbar_itemcontainer {
	position: absolute;
	right: 0 !important;
	left: auto;
	top: 0;	
	margin: 0;
	padding: 0;
}

.article .content_list .article_item .content_item_toolbar_item {
	margin: 0;
	padding: 0;
	margin-top: 2px;
}

.article .content_list .article_item .content_item_toolbar_item li {
	height: auto;
	padding: 0;
	margin-top: 2px;
	margin-right: 8px;
	border: 0;
	background: none;
}

.article .ws_main .wf_block {
	left: 0;
	bottom: 56px;
}

.article .ws_main .wf_blockmainarea {
	padding: 0 !important;
	background: #fff !important;
}

.articleListButtons {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: auto;
	height: 55px;
	background: url(images/bottom_tiler.gif) top left repeat-x #c7c6c6;
	border-top: 1px #959494 solid;
}

.articleListButtons .content_item_toolbar_topcontainer {
	padding: 0;
	margin: 0;
	padding: 5px 12px;
}

.articleListButtons .content_item_toolbar_top li {
	border: 0;
	padding: 0 !important;
	height: auto;
	width: auto;
	background: none;
	background-color: transparent;
}

.articleListButtons a {
	display: block;
	float: left;
	margin: 0 !important;
	padding: 0 !important;
	padding-top: 30px !important;
	margin-top: 7px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	background: url(images/new_24.png) top center no-repeat !important;
	font-size: 11px;
	color: #131313;
	margin-left: 25px;
	margin-right: 13px;
	width: 24px;
	text-align: center;
	text-shadow: #fff 1px 1px 1px;
}

.articleListButtons a span {
	display: inline !important;
	padding: 0;
	text-transform: capitalize;
}

.articleListButtons a:hover {
	text-decoration: none;	
}

html>body .articleListButtons a {
	min-width: 24px;
	width: auto;
}