/* Article override */

div#announcementsFront .blog-entry, div#announcementsRight .blog-entry {
	margin: 0;
	width: auto;
}

div#announcementsFront .content_item_toolbarcontainer, div#announcementsRight .content_item_toolbarcontainer {
	display: none;
}

div#announcementsFront .blog-entry-title, div#announcementsRight .blog-entry-title {
	margin-bottom: 2px;
	margin-top: 0;
	line-height: 12px;
	background: url(images/bullets/bullet_arrows.gif) no-repeat top left;
	padding-left: 11px;
	width: auto;
}

html>body div#announcementsFront .blog-entry-title, html>body div#announcementsRight .blog-entry-title {
	margin-bottom: 3px;
}

div#announcementsFront .blog-entry-title a, div#announcementsRight .blog-entry-title a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #191919;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}

div#announcementsFront .blog-entry-title a:hover, div#announcementsRight .blog-entry-title a:hover {
	text-decoration: underline;
}

div#announcementsFront .article_author, div#announcementsRight .article_author {
	display: none;
}

div#announcementsFront .blog-entry-date, div#announcementsRight .blog-entry-date {
	display: none;
}

div#announcementsFront .blog-entry-body, div#announcementsRight .blog-entry-body {
	display: none;
}

div#announcementsFront .article_teaser, div#announcementsRight .article_teaser {
	display: none;
}

div#announcementsFront .item_details_command, div#announcementsRight .item_details_command {
	display: none;
}

div#announcementsDetails .article_item {
	margin: 13px 15px;
	width: auto;
}

div#announcementsDetails .article_author {
	display: none;
}

div#announcementsDetails .article_teaser {
	display: none;
}

div#announcementsDetails .blog-entry-date {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: 0;
	padding: 0;
	margin-bottom: 3px;
}

div#announcementsDetails .blog-entry-title {
	width: auto;
	margin-bottom: 12px;
}

div#announcementsDetails .blog-entry-body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: auto;
	margin-bottom: 16px;
}